
#navbar_header_img{
	margin-left:20%;
	float:left;
}
#whole_body{
	background-color:#f7f7f7;
	min-height:800px;
}
#head_help{
	margin-right:50px;
}
#head_per{
	margin-right:20%;
	float:right;
	color: #666666;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 15px;
	padding-left: 15px;
	line-height: 20px;
	font-size:15px;
	font-family:MicrosoftYaHei;
	vertical-align:middle;
}
#login_header{
	float:right;
}
#login_head_dropdwon{
	min-width:80px;
	text-align:center;
	vertical-align:middle;
	right:0;
	left:auto;
}
#login_head_dropdwon .menu{	
	width:100%;
	height:30px;
	color:#7e7e7e;
	font-family:MicrosoftYaHei;
	font-size:16px;
	padding:4px 0;
}
#login_head_dropdwon .menu:hover{
	background-color:#1eb8ff
}
#navigation{
	margin-left:10%;
	margin-top:20px;
	float:left;
}
.navigation_panel{
	text-align:center;
	vertical-align:middle;
	height:96px;
	width:180px;
	margin-bottom:3px;
}
.navigation_img{
	margin-top:22px;
	margin-bottom:14px;
}
.navigation_word{
	margin-top:0px;
	margin-bottom:22px;
	font-size:14px;
}
#data_show{
	width:60%;
	min-width:750px;
	height:95%;
	margin-left:20px;
	margin-top:20px;
	float:left;
}
#select_box{
	width:100%;
	height:50px;
	background-color:white;
	vertical-align:middle
}
#select_graph_type_box{
	width:10%;
	min-width:90px;
	margin-top:10px;
	float:left;
}
#graph_table_show{
	width:85%;
	height:95%;
	margin-top:10px;
	float:right;
}
.graph_type_box{
	width:100%;
	height:30px;
	text-align:center;
	vertical-align:middle;
	border:1px;
	border-style: solid;
	background-color:white;
	margin-bottom:10px;
	margin-top:0;
}
.graph_type_img{
	margin-left:10px;
	float:left;
	margin-top:7px;
}
.graph_type_word{
	margin-top:4px;
}

#grapth_show{
	max-width:100%;
	width:100%;
	height:60%;
	min-height:400px;
	text-align:center;
	vertical-align:middle;
	display:table;
	background-color:white;
}

#table_show{
	width:100%;
	margin-top:20px;
	height:35%;
	min-height:250px;
	text-align:center;
	vertical-align:middle;
	background-color:white;
}
.center_img{
	display:table-cell;
	vertical-align:middle;
	width:6%;
	min-width:40px;
}
#previous_graph{
	float:left;
	margin-bottom:auto;
	margin-top:auto;
}
#next_graph{
	float:right;
	margin-bottom:auto;
	margin-top:auto;
}
#echart_show{
	width:100%;
	max-width:100%;
	height:95%;
	background-color:#dddddd;
	MARGIN-RIGHT: auto;
	MARGIN-LEFT: auto;
}
#table_head{
	text-align:center;
	color:#666666;
	background-color:#edfaff;
	font-size:14px;
	font-weight:bold;
	font-family:MicrosoftYaHei;
}
#table_head th{
	text-align:center;
}
#table_show tr{
	font-size:12px;
	min-height:30px;
	color:#666666;
	font-family:MicrosoftYaHei;
}

#main_footer{
	height:80px;
	padding:30px 0;
}

#select_box table{
	min-height:100%;
	width:100%;
	text-align:center;
	vertical-align:middle;
}
#select_box table td{
	text-align:center;
	vertical-align:middle;
	padding:7px;
}
#select_box .dropdown-toggle{
	text-align:center;
	vertical-align:middle;
}
#select_box .btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default{
	background-color:white;
}
#select_box .menu{	
	width:100%;
	max-width:100%;
	height:30px;
	color:#4d4d4d;
	font-family:MicrosoftYaHei;
	font-size:12px;
	padding:4px 0;
	text-align:center;
}
#select_box .menu:hover{
	background-color:#1eb8ff
}
#select_box .dropdown-menu{
	min-width:80px;
	text-align:center;
	vertical-align:middle;
	right:0;
	left:auto;
}
#select_box #submit{
	background-color:#1eb8ff;
	color:white;
	text-align:center;
	min-width:80px;
}
#select_box .input-group{
	max-width:100%;
	min-width:90px;
}

#navigation .dropdown-menu{
	top:0;
	left:100%;
	text-align:center;
	vertical-align:middle;
}
#navigation .menu{
	width:100%;
	height:30px;
	color:#7e7e7e;
	font-family:MicrosoftYaHei;
	font-size:16px;
	padding:4px 0;
}
#navigation .menu:hover{
	background-color:#1eb8ff;
}