.whole-body{
	height:75%;
}
#login-panel{
	background-color:rgba(250,250,250,0.4);
	margin-left:50%;
	max-width:500px;
	min-width:300px;
	width:25%;
	height:50%;
	max-height:700px;
	padding: 15px;
	margin-top:5%;
	max-height:60%;
}
#login-table{
	width:100%;
	height:100%;
}
#nav_active{
	color:#428bca;
}
#login-title{
	color:#1eb8ff;
	font-size:22px;
	margin-bottom:0;
}
#nobordertd{
	border:none;
	vertical-align:middle;
	font-size:16px;
}
#job-number{
	height:46px;
	font-size:16px;
}
#password{
	height:46px;
	font-size:16px;
}
#auto_login{
	margin-top:11px;
	margin-right:15px;
}
.btncol-left{
	padding-left:0;
}
.btncol-right{
	padding-right:0;
}
#loginBtn{
	float:left;
	color:#fefefe;
	font-size:22px;
	background-color:#FF8C00;
	font-family:MicrosoftYaHei;
}

#registerBtn{
	float:right;
	color:#fefefe;
	font-size:22px;
	font-family:MicrosoftYaHei;
	background-color:#1eb8ff;
}