#navbar_header_img{
	margin-left:25%;
	float:left;
	
}
#head_reg{
	margin-right:25%;
	float:right;
	color: #666666;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 15px;
	padding-left: 15px;
	line-height: 20px;
	font-family:MicrosoftYaHei;
}
#whole_body{
	background-color:#f7f7f7;
	min-height:600px;
}
#register-list{font-size:12px;}
#register_frame{
	background-color:#FFFFFF;
	position:absolute;
	left:25%;
	width:30%;
	min-width:400px;
	top:12%;
}
#prompt-panel{
	background-color:#FFFFFF;
	position:absolute;
	left:65%;
	width:20%;
	min-width:350px;
	top:12%;
}
#register_table{
	color:#666666;
	font-family:MicrosoftYaHei;
	vertical-align:middle;
	margin:0 5%;
	width:90%;
}
.table input{
	width:100%
}
.label-td{
	width:22%;
}
#nobordertd{
	border:none;
	vertical-align:middle;
	font-size:14px;
}
.code{
    background:url(../img/code_bg.jpg);
    font-family:Arial;
    font-style:italic;
    color:blue;
    font-size:20px;
    border:0;
    letter-spacing:5px;
    font-weight:bolder;             
    float:right;            
    cursor:pointer;
    width:40%;
    height:35px;
    text-align:center;
    vertical-align:middle;
	margin-right:0;
}
#checkCodeInput{
	width:50%;
	float:left;
}
#registerBtn{
	margin-left:25%;
	width:50%;
}

#prompt-panel-title{
	font-family:MicrosoftYaHei;
	font-size:16px;
	color:#666666;
	margin-top:20px;
}
#prompt-panel-title-line{
	width: 4px;
	height: 18px;
	background-color: #666666;
	float:left;
	margin-right:15px;
}
#prompt{
	font-family:MicrosoftYaHei;
	font-size:12px;
	color:#999999;
}
#footer-table{
	width:100%;
}
.customer-service{
	text-align:center;
	vertical-align:middle;
	height:80px;
	border-radius: 0;
	font-size:16px
}
#phoneservice{
	background-color:#fff8f3;
	border:1px;
	border-color:#ffc69d;
	box-shadow:1px 1px 1px rgba(255, 198,157,1);
}
#contact-phone{
	color:#ff852c;
	padding-top:10px;
}
#mailservice{
	background-color:#eefaff;
	border:1px;
	font-size:16px;
	border-color:#a2e2ff;
	box-shadow:1px 1px 1px rgba(162, 226,255,1);
}
#contact-mail{
	color:#1eb8ff;
	padding-top:10px;
}

#password + #format_error_warn {
	color:#ff7676;
	background-color:#fff2f2;
	border: 1px solid #ffb4b4;
	height:20px;
	font-size:12px;
	width:100%;
	padding:0;
	margin:0;
	display:none;
	font-weight:bold;
}